{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
    <link rel="stylesheet" href="{% static 'css/high_scores.css' %}">
</head>
<body>

<div class="container">
    <h1>High Scores</h1>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score.player }}</td>
                <td>{{ score.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='{% url 'core:home' %}'">Back to Home</button>
</div>

</body>
</html>
