{% extends "core/base.html" %}

{% block content %}
<div class="join-game-container">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h2>Join a Game</h2>
    <p>Enter the Game ID provided by your friend or host to join the game.</p>

    <form action="{% url 'core:join-game' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="game_id">Game ID:</label>
            <input type="text" id="game_id" name="game_id" required placeholder="Enter Game ID">
        </div>
        <button type="submit" class="btn-submit">Join Game</button>
    </form>
</div>
{% endblock %}
